<div class="bg-white shadow-xl rounded-2xl px-6 pt-6 pb-8 max-w-full w-full md:max-w-[500px] md:mx-auto">
  <h2 class="text-sky-700 font-bold text-4xl border-b-2 mb-6 pb-6">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-gray-100 rounded pl-4 py-2 md:py-3 border-none focus:border-none focus-outline-0 w-full" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
     
      <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-100 rounded pl-4 py-2 md:py-3 border-none focus:border-none focus-outline-0 w-full" %>
      <% if @minimum_password_length %>
      <em class="text-sm text-gray-600">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-100 rounded pl-4 py-2 md:py-3 border-none focus:border-none focus-outline-0 w-full" %>
    </div>

    <div class="mb-4">
      <%= f.submit "Sign up", class: "bg-sky-600 hover:bg-sky-700 text-white font-bold py-3 px-4 rounded-3xl focus:outline-none focus:shadow-outline w-full" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
