<div class="bg-white shadow-xl rounded-2xl px-6 pt-6 pb-8 max-w-full w-full md:max-w-[500px] md:mx-auto">
   <h2 class="text-sky-700 font-bold text-3xl md:text-4xl border-b-2 mb-6 pb-6">Forgot your password?</h2>
   <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-white rounded-lg pl-4 py-2 md:py-3 border-b border-gray-500 focus:border-0 focus:outline-0 w-full" %>
    </div>

    <div class="mb-6">
      <%= f.submit "Send me reset password instructions", class: "bg-sky-600 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-3xl focus:outline-none focus:shadow-outline w-full text-ellipsis overflow-hidden whitespace-nowrap" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
